<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platform.learning.reactbootproject.editor.communitymapper.CommunityMapper">
	<insert id="communityInsert">
		insert into community values(community_pk_seq.NEXTVAL,#{community_user_pk},#{community_category},#{community_title},#{community_content},
        #{community_date},0,0,0)
	</insert>
    <select id="SelectMenuCommunity" resultType="CommunityBBSDTO">
        select * from community where community_category = #{selectedMenu} and community_report &lt;= 10 order by community_pk desc
    </select>
    <select id="communitySelectView" resultMap="communityWithUserResultMap">
        select * from community where community_pk = #{community_pk}
    </select>


<resultMap id="communityWithUserResultMap" type="CommunityBBSDTO">
    <result property="community_pk" column="community_pk" />
    <result property="community_user_pk" column="community_user_pk" />
    <result property="community_category" column="community_category"/>
    <result property="community_title" column="community_title" />
    <result property="community_content" column="community_content" />
    <result property="community_date" column="community_date"/>
    <result property="community_view" column="community_view" />
    <result property="community_isgood" column="community_isgood" />
    <result property="community_report" column="community_report" />
  	<association property="userDTO" javaType="UserDTO">
        <result property="user_pk" column="user_pk" />
        <result property="user_nickName" column="user_nickName" />
        <result property="user_email" column="user_email" />
        <result property="user_platform" column="user_platform" />
        <result property="user_courses_key" column="user_courses_key" />
        <result property="user_isAdmin" column="user_isAdmin" />
        <result property="user_profile" column="user_profile" />
    </association>
</resultMap>
  
<select id="selectAllCommunity" resultMap="communityWithUserResultMap">
    SELECT 
        c.community_pk,
        c.community_user_pk,
        c.community_category,
        c.community_title,
        c.community_content,
        c.community_date,
        c.community_view,
        c.community_isgood,
        c.community_report,
        u.user_pk,
        u.user_nickname,
        u.user_email,
        u.user_platform,
        u.user_courses_key,
        u.user_isAdmin,
        u.user_profile
    FROM 
        Community c, Users u
    where 
        c.community_user_pk = u.user_pk
        order by community_pk desc
</select>

    <update id="updateViews">
        update community set community_view = community_view + 1 where community_pk = #{community_pk}
    </update>
    <update id="isGood">
        update community set community_isgood = community_isgood + 1 where community_pk = #{community_pk}
    </update>
    <update id="report">
        update community set community_report = community_report+ 1 where community_pk = #{community_pk}
    </update>
    <delete id="delete">
        delete community where community_pk = #{community_pk}
    </delete>
    <update id="update">
        update community set community_title = #{community_title}, community_category = #{community_category}
        , community_content = #{community_content} where community_pk = #{community_pk}
    </update>
</mapper>

